.fondos {
    -fx-background-image: url('veterinarioGato.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-color: #2980b9;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.table-view {
    -fx-background-color: #f0f0f0;
}


.table-view .column-header {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
}

.table-row-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: #d0d0d0;
}
